<div class="ui container">
  <a class="hamburger item">
    <i class="sidebar icon"></i>
  </a>
  {{#link-to 'index' class="header item" activeClass="" }}
    {{fmf-constant 'name'}}
  {{/link-to}}
  <a class="item" href="http://forum.fmf.si">Forum</a>
  <a class="item" href="http://revija.fmf.si">Revija</a>
  {{#link-to 'notes' class="item" }}
    Zapiski
  {{/link-to}}
  {{#link-to 'quotes' class="item" }}
    Izjave
  {{/link-to}}
  <div class="ui dropdown link item" tabindex="-1">
    <span class="text">FMF</span>
    <i class="dropdown icon" tabindex="0"><div class="menu"></div></i>
    <div class="menu" tabindex="-1">
      {{#each links as |link|}}
        <a class="item" href="{{link.url}}" target="_blank">{{link.title}}</a>
      {{/each}}
    </div>
  </div>
  <div class="right borderless menu">
    {{#if session.isAuthenticated}}
      {{#unless session.currentUser.error}}
        <div class="ui dropdown link item" tabindex="-1">
          <span class="text">
            <img class="ui avatar image" src="{{ session.currentUser.avatar }}">
            {{#if session.currentUser.name}}
              {{ session.currentUser.name }}
            {{else}}
              {{ session.currentUser.username }}
            {{/if}}
          </span>
          <i class="dropdown icon" tabindex="0"><div class="menu"></div></i>
          <div class="menu account" tabindex="-1">
            <a class="item" href="{{ fmf-constant 'url.forum' }}/users/{{session.currentUser.username}}/messages">
            {{#if session.currentUser.messages }}
              <div class="ui label nav red">{{session.currentUser.messages}}</div>
            {{else}}
              <div class="ui label nav">0</div>
            {{/if}}
            Zasebna sporočila
          </a>
            <div class="item" {{ action 'invalidateSession' }}>Odjava</div>
          </div>
        </div>
      {{/unless}}
    {{else}}
      <div class="item">
        <a class="ui button" {{action 'authenticate' 'fmf-oauth2'}}>Prijava</a>
      </div>
    {{/if}}
  </div>
</div>
